#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 2em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-bottom: 0.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(0, 0%, 18%);
  border: 0.5px solid hsl(0, 6%, 33%);
  border-radius: 5px;
  margin-bottom: 10px;
}

p {
  padding-left: 1em;
  font-size: 1.1em;
  text-align: left;
  color: rgb(246, 252, 246);
} 

span {
  padding-right: 0.9em;
}

.todo-item p {
  margin: 0;
  flex: 1;
}

.todo-item input[type="text"] {
  width: calc(100% - 90px);
  padding: 5px;
  margin-right: 10px;
}

.todo-item button {
  margin-left: 5px;
}

.add-todo-container {
  display: flex;
  align-items: center;
}